<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>routesHW</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="styles/vendor.css">

    <link rel="stylesheet" href="styles/main.css">

    <script src="scripts/vendor/modernizr.js"></script>
  </head>
  <body>

    <div class="container">
      <h1>Classmates</h1>
  <script id="ClassmateListTemplate" type="text/template">
              <div class="classmateListView">
                <a href src="<%= url %>"><%= name %></a>
              </div>
        </script>

        <div class = "classmateList">

        </div>
    </div>

    <script src="scripts/vendor.js"></script>

        <script src="scripts/main.js"></script>
</body>
</html>
